# flyctl launch added from .gitignore

# Ignore Python caches
**/__pycache__/
**/*.py[cod]
**/*.pyo

# Ignore virtual environment directories
**/.venv/
**/venv/
**/__venv__/

# Ignore local configuration files
**/.env
**/.DS_Store
**/.vscode/

# Ignore upload directories
**/uploads/

# Ignore binaries and logs
**/*.log
**/serve/
**/*.db

# Ignore any generated binary files
**/bin/

**/.codegpt
fly.toml
