# Ignorar directorios de Python
__pycache__/
*.pyc
*.pyo

# Ignorar entorno virtual
.venv/
venv/

# Ignorar otros archivos y carpetas específicas
uploads/
.env
.DS_Store
.vscode
serve
*.log
*.db

# Ignorar cachés y backups de editores
*.swp
*.swo
