{% extends 'layout.html' %}
{% block title %}Call Logs{% endblock %}
{% block content %}

<style>
    .chat-list {
        padding: 0;
        font-size: .8rem;
    }

    .chat-list li {
        margin-bottom: 10px;
        overflow: auto;
        color: #ffffff;
    }

    .chat-list .chat-img {
        float: left;
        width: 48px;
    }

    .chat-list .chat-img img {
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        width: 100%;
    }

    .chat-list .chat-message {
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        background: #5a99ee;
        display: inline-block;
        padding: 10px 20px;
        position: relative;
    }

    .chat-list .chat-message:before {
        content: "";
        position: absolute;
        top: 15px;
        width: 0;
        height: 0;
    }

    .chat-list .chat-message h5 {
        margin: 0 0 5px 0;
        font-weight: 600;
        line-height: 100%;
        font-size: .9rem;
    }

    .chat-list .chat-message p {
        line-height: 18px;
        margin: 0;
        padding: 0;
    }

    .chat-list .chat-body {
        margin-left: 20px;
        float: left;
        width: 70%;
    }

    .chat-list .in .chat-message:before {
        left: -12px;
        border-bottom: 20px solid transparent;
        border-right: 20px solid #5a99ee;
    }

    .chat-list .out .chat-img {
        float: right;
    }

    .chat-list .out .chat-body {
        float: right;
        margin-right: 20px;
        text-align: right;
    }

    .chat-list .out .chat-message {
        background: #fc6d4c;
    }

    .chat-list .out .chat-message:before {
        right: -12px;
        border-bottom: 20px solid transparent;
        border-left: 20px solid #fc6d4c;
    }

    .card .card-header:first-child {
        -webkit-border-radius: 0.3rem 0.3rem 0 0;
        -moz-border-radius: 0.3rem 0.3rem 0 0;
        border-radius: 0.3rem 0.3rem 0 0;
    }

    .card .card-header {
        background: #17202b;
        border: 0;
        font-size: 1rem;
        padding: .65rem 1rem;
        position: relative;
        font-weight: 600;
        color: #ffffff;
    }

    .modal-dialog {
        overflow-y: initial !important
    }

    .modal-body {
        height: 80vh;
        overflow-y: auto;
    }
</style>

<table id="calllogs" class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Status</th>
            <th>Duration</th>
            <th>Timestamp</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for log in data['logs'] %}
        <tr>
            <td>{{ log['callerName'] }}</td>
            <td>{{ log['callNumber'] }}</td>
            <td>{{ log['callStatus'] }}</td>
            <td>{{ log['callDuration'] }}</td>
            <td>{{ log['callTime'] }}</td>
            <td>
                {% if log['callStatus'] not in ('IN_PROGRESS', 'INITIATED') %}
                <a href="#"><i title="Remove" class="fas fa-trash text-danger"></i></a>
                {% if log['hasChat'] %}
                <a href="#" onclick="loadScript('{{ log.id }}')" data-toggle="modal" data-target="#script"><i
                        title="View Script" class="fas fa-users text-primary"></i></a>
                {% endif %}
                {% if log['hasLogs'] %}
                <a href="#" onclick="loadLogs('{{ log.id }}')" data-toggle="modal" data-target="#logs"><i
                        title="View Raw Logs" class="fas fa-scroll text-secondary"></i></a>
                {% endif %}
                {% if log['hasPlayback'] %}
                <a href="#" onclick="playCall('{{ log.id }}')" data-toggle="modal" data-target="#play"><i
                        title="Call Playback" class="fas fa-headphones text-info"></i></a>
                {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="modal" id="script">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Call Script</h4>
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i title="Close Chat"
                        class="fas fa-times"></i></button>
            </div>

            <div class="modal-body">
                <ul class="chat-list"></ul>
            </div>
            <div class="modal-footer">
                <button id="export-btn" type="button" class="btn btn-secondary"><i title="Download Call Script"
                        class="fas fa-download"></i> Download Script</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="logs">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Raw Call Logs</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <p id="rawlogs"></p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="play" tabindex="-1" role="dialog" aria-labelledby="audioModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="max-height: 170px;">
            <div class="modal-header">
                <h5 class="modal-title" id="audioModalLabel">Call Playback</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <audio style="width: 100%;" id="audioPlayer" controls></audio>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/jquery.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.buttons.min.js"></script>
<script src="/static/js/jszip.min.js"></script>
<script src="/static/js/pdfmake.min.js"></script>
<script src="/static/js/vfs_fonts.js"></script>
<script src="/static/js/buttons.html5.min.js"></script>
<script src="/static/js/buttons.print.min.js"></script>


<script>
    $(document).ready(function () {
        new DataTable('#calllogs', {
            order: [],
            paging: true,
            lengthChange: true,
            searching: true,
            ordering: true,
            info: true,
            autoWidth: false,
            responsive: true,
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'csvHtml5',
                    exportOptions: {
                        columns: ':not(:last-child)'
                    }
                },
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: ':not(:last-child)'
                    }
                },
                {
                    extend: 'pdfHtml5',
                    exportOptions: {
                        columns: ':not(:last-child)'
                    }
                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: ':not(:last-child)'
                    }
                }
            ]
        });

        $('#export-btn').click(function () {
            let chatText = '';
            $('.chat-list li').each(function () {
                const role = $(this).find('h5').text();
                const dialog = $(this).find('p').text();
                chatText += role + ': ' + dialog + '\n';
            });
            const blob = new Blob([chatText], { type: 'text/plain' });
            const url = URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.href = url;
            a.download = 'call-script.txt';
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
            URL.revokeObjectURL(url);
        });
    });

    function loadScript(id) {
        $.ajax({
            url: "/admin/script/" + id,
            type: "GET",
            xhrFields: {
                withCredentials: true
            },
            success: function (response) {
                $('.chat-list').html(response);
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }

    function loadLogs(id) {
        $.ajax({
            url: "/admin/logs/" + id,
            type: "GET",
            xhrFields: {
                withCredentials: true
            },
            success: function (response) {
                $('#rawlogs').html(response.replace(/\r?\n|\r/g, '<br>'));
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }

    function playCall(id) {
        $.ajax({
            url: "/admin/audio/" + id + "?json=true",
            type: "GET",
            xhrFields: {
                withCredentials: true
            },
            success: function (res) {
                playCombinedAudio(res["audios"]);
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }

    function decodeBase64(base64String) {
        var binaryString = atob(base64String);
        var binaryLen = binaryString.length;
        var bytes = new Uint8Array(binaryLen);
        for (var i = 0; i < binaryLen; i++) {
            bytes[i] = binaryString.charCodeAt(i);
        }
        return bytes;
    }

    function createWavHeader(sampleRate, numChannels, bitsPerSample, dataLength) {
        var header = new ArrayBuffer(44);
        var view = new DataView(header);

        var blockAlign = numChannels * bitsPerSample / 8;
        var byteRate = sampleRate * blockAlign;

        view.setUint32(0, 0x52494646, false);
        view.setUint32(4, 36 + dataLength, true);
        view.setUint32(8, 0x57415645, false);

        view.setUint32(12, 0x666d7420, false);
        view.setUint32(16, 16, true);
        view.setUint16(20, 1, true);
        view.setUint16(22, numChannels, true);
        view.setUint32(24, sampleRate, true);
        view.setUint32(28, byteRate, true);
        view.setUint16(32, blockAlign, true);
        view.setUint16(34, bitsPerSample, true);

        view.setUint32(36, 0x64617461, false);
        view.setUint32(40, dataLength, true);

        return new Uint8Array(header);
    }

    function combineAudioSegments(ulawSegments) {
        const decodedSegments = ulawSegments.map(base64String => {
            const ulawBytes = decodeBase64(base64String);
            return decodeUlawToPcm(ulawBytes);
        });

        var totalPcmLength = decodedSegments.reduce((sum, segment) => sum + segment.length, 0) * 2; // 16-bit PCM = 2 bytes per sample

        var sampleRate = 8000;
        var numChannels = 1;
        var bitsPerSample = 16;
        var wavHeader = createWavHeader(sampleRate, numChannels, bitsPerSample, totalPcmLength);

        var combinedPcmData = new Uint8Array(wavHeader.length + totalPcmLength);
        combinedPcmData.set(wavHeader, 0);

        var offset = wavHeader.length;
        decodedSegments.forEach(segment => {
            var lpcmBytes = new Uint8Array(segment.buffer);
            combinedPcmData.set(lpcmBytes, offset);
            offset += lpcmBytes.length;
        });

        var blob = new Blob([combinedPcmData], { type: 'audio/wav' });
        return URL.createObjectURL(blob);
    }

    function ulaw2lin(ulawByte) {
        var MULAW_BIAS = 200;

        ulawByte = ~ulawByte;

        var sign = (ulawByte & 0x80) ? -1 : 1;
        var exponent = (ulawByte >> 4) & 0x07;
        var mantissa = ulawByte & 0x0F;

        var sample = ((mantissa << 4) + MULAW_BIAS) << exponent;
        return sign * (sample - MULAW_BIAS);
    }

    function decodeUlawToPcm(ulawBytes) {
        var pcmData = new Int16Array(ulawBytes.length);
        for (var i = 0; i < ulawBytes.length; i++) {
            pcmData[i] = ulaw2lin(ulawBytes[i]);
        }
        return pcmData;
    }


    function playCombinedAudio(response) {
        const audioPlayer = document.getElementById('audioPlayer');
        const combinedAudioUrl = combineAudioSegments(response);
        audioPlayer.src = combinedAudioUrl;
        audioPlayer.play();
    }

</script>

{% endblock %}