{% extends 'layout.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-6">
      <div class="small-box bg-info">
        <div class="inner">
          <h3>{{ data["inProgress"] }}</h3>

          <p>In Progress</p>
        </div>
        <div class="icon">
          <i class="fas fa-phone-volume"></i>
        </div>
        <a href="/admin/calls?filter=IN_PROGRESS" class="small-box-footer">More info <i
            class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>

    <div class="col-lg-3 col-6">
      <div class="small-box bg-success">
        <div class="inner">
          <h3>{{ data["completed"] }}</h3>

          <p>Completed</p>
        </div>
        <div class="icon">
          <i class="fas fa-phone"></i>
        </div>
        <a href="/admin/calls?filter=COMPLETED" class="small-box-footer">More info <i
            class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>

    <div class="col-lg-3 col-6">
      <div class="small-box bg-warning">
        <div class="inner">
          <h3>{{ data["hanged"] }}</h3>

          <p>Hanged Up</p>
        </div>
        <div class="icon">
          <i class="fas fa-phone-slash"></i>
        </div>
        <a href="/admin/calls?filter=HANGED_UP" class="small-box-footer">More info <i
            class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <div class="col-lg-3 col-6">
      <div class="small-box bg-purple">
        <div class="inner">
          <h3>{{ data["error"] }}</h3>

          <p>Partial Completed</p>
        </div>
        <div class="icon">
          <i class="fas fa-phone-flip"></i>
        </div>
        <a href="/admin/calls?filter=PARTIAL_COMPLETED" class="small-box-footer">More info <i
            class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
  </div>

  <div class="row">
    <section class="col-lg-8 connectedSortable">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            <select id="days" class="form-control">
              <option value="3">Last 3 Days</option>
              <option value="7">Last 7 Days</option>
              <option value="15" selected>Last 15 Days</option>
              <option value="30">Last 30 Days</option>
            </select>
          </h3>
          <div class="card-tools">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#trends">Trend Chart</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#donut">Donut Chart</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#bars">Bar Chart</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card-body">
          <div class="tab-content p-0">
            <div style="height: 40vh;" class="tab-pane container active" id="trends">
              <canvas title="Trend Chart" id="trendChart"></canvas>
            </div>
            <div style="height: 40vh;" class="tab-pane container fade" id="donut">
              <canvas title="Doughnut Chart" id="doughnutChart"></canvas>
            </div>
            <div style="height: 40vh;" class="tab-pane container fade" id="bars">
              <canvas title="Bar Chart" id="barChart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="col-lg-4 connectedSortable">
      <div class="card bg-gradient-secondary">
        <div class="card-header border-0">
          <h3 class="card-title">
            <i class="fas fa-phone mr-1"></i>
            <strong>Active Calls</strong>
          </h3>
        </div>
        <div class="card-body">
          <table style="height: 46vh;padding: 0px;margin-top: -30px;" class="table">
            <thead>
            <tr>
              <th>Name</th>
              <th>Time</th>
            </tr>
            </thead>
            <tbody>
            {% for call in data['calls'] %}
                <tr>
                    <td><a class="text-white" href="/admin/calls?person={{ call['callerName'] }}">{{ call['callerName'] }}</a></td>
                    <td>{{ call['callTime'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
      </div>
    </section>
  </div>
</div>

<script src="/static/plugins/jquery/jquery.min.js"></script>
<script src="/static/plugins/chart.js/Chart.min.js"></script>

<script>
  const callsData = JSON.parse('{{ data["graphs"] | tojson }}');
</script>

<script src="/static/js/dashboard.js"></script>

{% endblock %}