{% extends 'layout.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{ data["inProgress"] }}</h3>

            <p>In Progress</p>
          </div>
          <div class="icon">
            <i class="fas fa-phone-volume"></i>
          </div>
          <a href="/admin/calls?filter=IN_PROGRESS" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div class="small-box bg-success">
          <div class="inner">
            <h3>{{ data["completed"] }}</h3>

            <p>Completed</p>
          </div>
          <div class="icon">
            <i class="fas fa-phone"></i>
          </div>
          <a href="/admin/calls?filter=COMPLETED" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>{{ data["hanged"] }}</h3>

            <p>Hanged Up</p>
          </div>
          <div class="icon">
            <i class="fas fa-phone-slash"></i>
          </div>
          <a href="/admin/calls?filter=HANGED_UP" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="small-box bg-danger">
          <div class="inner">
            <h3>{{ data["error"] }}</h3>

            <p>Completed with Error</p>
          </div>
          <div class="icon">
            <i class="fas fa-phone-flip"></i>
          </div>
          <a href="/admin/calls?filter=COMPLETED_WITH_ERROR" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>

    <div class="row">
      <section class="col-lg-8 connectedSortable">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              <i style="font-size: 25px;" class="fas fa-chart-pie mr-1"></i>
            </h3>
            <div class="card-tools">
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#trends">Trend Chart</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#donut">Donut Chart</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#bars">Bar Chart</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content p-0">
              <div class="tab-pane container active" id="trends">
                <canvas title="Trend Chart" id="trendChart" style="height: 100%; width: 100%;"></canvas> 
              </div>
              <div class="tab-pane container fade" id="donut"><label>donuts</label></div>
              <div class="tab-pane container fade" id="bars"><label>bars</label></div>
            </div>
          </div>
        </div>
      </section>
      <section class="col-lg-4 connectedSortable">
        <div class="card bg-gradient-primary">
          <div class="card-header border-0">
            <h3 class="card-title">
              <i class="fas fa-map-marker-alt mr-1"></i>
              Visitors
            </h3>
            <div class="card-tools">
              <button type="button"
                      class="btn btn-primary btn-sm daterange"
                      data-toggle="tooltip"
                      title="Date range">
                <i class="far fa-calendar-alt"></i>
              </button>
              <button type="button"
                      class="btn btn-primary btn-sm"
                      data-card-widget="collapse"
                      data-toggle="tooltip"
                      title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div id="world-map" style="height: 250px; width: 100%;"></div>
          </div>
          <div class="card-footer bg-transparent">
            <div class="row">
              <div class="col-4 text-center">
                <div id="sparkline-1"></div>
                <div class="text-white">Visitors</div>
              </div>
              <div class="col-4 text-center">
                <div id="sparkline-2"></div>
                <div class="text-white">Online</div>
              </div>
              <div class="col-4 text-center">
                <div id="sparkline-3"></div>
                <div class="text-white">Sales</div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

<script src="/static/plugins/jquery/jquery.min.js"></script>
<script src="/static/plugins/chart.js/Chart.min.js"></script>
<script src="/static/plugins/sparklines/sparkline.js"></script>
<script src="/static/plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="/static/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
<script src="/static/plugins/jquery-knob/jquery.knob.min.js"></script>
<script src="/static/plugins/moment/moment.min.js"></script>
<script src="/static/plugins/daterangepicker/daterangepicker.js"></script>
<script src="/static/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="/static/plugins/summernote/summernote-bs4.min.js"></script>
<script src="/static/js/dashboard.js"></script>

  {% endblock %}