{% extends 'layout.html' %}
{% block title %}System Health{% endblock %}
{% block content %}
<center>
<div class="row">
    <div class="col-10">
<div class="row">
    <div class="col-6">
<canvas data-type="radial-gauge"
    title="Processor Usage (%)"
    data-width="300"
    data-height="300"
    data-units="Processor"
    data-min-value="0"
    data-start-angle="90"
    data-ticks-angle="180"
    data-value-box="false"
    data-max-value="100"
    data-major-ticks="0,25,50,75,100"
    data-minor-ticks="5"
    data-stroke-ticks="true"
    data-highlights='[
        {"from": 80, "to": 100, "color": "rgba(200, 50, 50, .75)"},
        {"from": 50, "to": 80, "color": "rgba(255, 165, 0, .75)"}
    ]'
    data-color-plate="#00000000"
    data-border-shadow-width="0"
    data-borders="false"
    data-needle-type="arrow"
    data-needle-width="2"
    data-needle-circle-size="7"
    data-needle-circle-outer="true"
    data-needle-circle-inner="false"
    data-animation-duration="1500"
    data-animation-rule="linear"
></canvas>
</div><div lcass="col-6">
<canvas data-type="radial-gauge"
    title="RAM Usage (%)"
    data-width="300"
    data-height="300"
    data-units="Memory"
    data-min-value="0"
    data-start-angle="90"
    data-ticks-angle="180"
    data-value-box="false"
    data-max-value="100"
    data-major-ticks="0,10,20,30,40,50,60,70,80,90,100"
    data-minor-ticks="10"
    data-stroke-ticks="true"
    data-highlights='[
        {"from": 80, "to": 100, "color": "rgba(200, 50, 50, .75)"},
        {"from": 50, "to": 80, "color": "rgba(255, 165, 0, .75)"}
    ]'
    data-color-plate="#00000000"
    data-border-shadow-width="0"
    data-borders="false"
    data-needle-type="arrow"
    data-needle-width="2"
    data-needle-circle-size="7"
    data-needle-circle-outer="true"
    data-needle-circle-inner="false"
    data-animation-duration="1500"
    data-animation-rule="linear"
></canvas> </div></div>

<div class="row">
    <div class="col-6">
<canvas data-type="linear-gauge"
    data-width="300"
    data-height="150"
    data-units="°C"
    data-title="System Temperature"
    data-min-value="-50"
    data-max-value="50"
    data-major-ticks="[-50,-40,-30,-20,-10,0,10,20,30,40,50]"
    data-minor-ticks="5"
    data-stroke-ticks="true"
    data-ticks-width="15"
    data-ticks-width-minor="7.5"
    data-highlights='[ {"from": -50, "to": 0, "color": "rgba(0,0, 255, .3)"},
        {"from": 0, "to": 50, "color": "rgba(255, 0, 0, .3)"} ]'
    data-color-major-ticks="#ffe66a"
    data-color-minor-ticks="#ffe66a"
    data-color-title="#eee"
    data-color-units="#ccc"
    data-color-numbers="#eee"
    data-color-plate="#2465c0"
    data-color-plate-end="#327ac0"
    data-border-shadow-width="0"
    data-borders="false"
    data-border-radius="10"
    data-needle-type="arrow"
    data-needle-width="3"
    data-animation-duration="1500"
    data-animation-rule="linear"
    data-color-needle="#222"
    data-color-needle-end=""
    data-color-bar-progress="#327ac0"
    data-color-bar="#f5f5f5"
    data-bar-stroke="0"
    data-bar-width="8"
    data-bar-begin-circle="false"
    title="Server Temperature"
></canvas>
</div>
<div clas="col-6">
<canvas title="Server Ping (ms)" id="lineChart" style="min-height: 200px; height: 200px; max-height: 200px; max-width: 300px;margin-top: -5px;"></canvas>
</div></div>
</div>
<div class="col-2">
    <canvas data-type="linear-gauge"
    title="Server Storage Usage"
    data-width="120"
    data-height="500"
    data-min-value="0"
    data-max-value="100"
    data-major-ticks="0,20,40,60,80,100"
    data-minor-ticks="2"
    data-stroke-ticks="true"
    data-highlights='[
    {"from": 0, "to": 20, "color": "rgba(0, 255, 0, .75)"},
    {"from": 20, "to": 40, "color": "rgba(128, 255, 0, .75)"},
    {"from": 40, "to": 60, "color": "rgba(255, 255, 0, .75)"},
    {"from": 60, "to": 80, "color": "rgba(255, 128, 0, .75)"},
    {"from": 80, "to": 100, "color": "rgba(200, 50, 50, .75)"}
    ]'
    data-color-plate="#00000000"
    data-border-shadow-width="0"
    data-borders="false"
    data-needle-type="arrow"
    data-needle-width="2"
    data-animation-duration="1500"
    data-animation-rule="linear"
    data-tick-side="left"
    data-number-side="left"
    data-needle-side="left"
    data-bar-stroke-width="7"
    data-bar-begin-circle="false"
></canvas>
</div>
</div>
</center>

<script src="/static/plugins/jquery/jquery.min.js"></script>
<script src="/static/plugins/chart.js/Chart.min.js"></script>
<script>
const areaChartData = {
      labels  : ['10:00:00', '', '10:00:10', '10:00:10', '10:00:10', '10:00:10', '10:00:10'],
      title: 'Ping (ms)',
      datasets: [
        {
          label               : 'AWS',
          backgroundColor     : 'rgba(60,141,188,0.9)',
          borderColor         : 'rgba(60,141,188,0.8)',
          pointRadius          : false,
          pointColor          : '#3b8bba',
          pointStrokeColor    : 'rgba(60,141,188,1)',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data                : [28, 48, 40, 19, 86, 27, 90]
        },
        {
          label               : 'Google',
          backgroundColor     : 'rgba(100,41,88,0.9)',
          borderColor         : 'rgba(100,41,88,0.8)',
          pointRadius          : false,
          pointColor          : '#4b5baa',
          pointStrokeColor    : 'rgba(100,41,88,1)',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(100,41,88,1)',
          data                : [25, 45, 45, 15, 85, 25, 95]
        },
        {
          label               : 'Custom',
          backgroundColor     : 'rgba(30,241,128,0.9)',
          borderColor         : 'rgba(30,241,128,0.8)',
          pointRadius          : false,
          pointColor          : '#1a4fcd',
          pointStrokeColor    : 'rgba(30,241,128,1)',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(30,241,128,1)',
          data                : [20, 40, 40, 10, 80, 20, 90]
        }
      ]
    };

    const areaChartOptions = {
      maintainAspectRatio : false,
      responsive : true,
      legend: {
        display: true
      },
      scales: {
        xAxes: [{
          gridLines : {
            display : true,
          }
        }],
        yAxes: [{
          gridLines : {
            display : true,
          }
        }]
      }
    }

    const lineChartCanvas = $('#lineChart').get(0).getContext('2d')
    const lineChartOptions = jQuery.extend(true, {}, areaChartOptions)
    const lineChartData = jQuery.extend(true, {}, areaChartData)
    lineChartData.datasets[0].fill = false;
    lineChartData.datasets[1].fill = false;
    lineChartData.datasets[2].fill = false;
    lineChartOptions.datasetFill = false

    const lineChart = new Chart(lineChartCanvas, { 
      type: 'line',
      data: lineChartData, 
      options: lineChartOptions
    });
</script>

{% endblock %}