<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Beholder | {% block title %}{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/static/css/adminlte.min.css">
  <link href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css"  rel="stylesheet" type="text/css">
  <link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"  rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/static/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <link rel="stylesheet" href="/static/plugins/daterangepicker/daterangepicker.css">
  <link rel="stylesheet" href="/static/plugins/summernote/summernote-bs4.css">
  <link rel="stylesheet" type="text/css" href="/static/css/toast.css">
  <link rel="stylesheet" type="text/css" href="/static/css/notifications.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <form class="form-inline ml-3">
      <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-navbar" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>

    <div style="width: 100%;">
      <a data-toggle="modal" data-target="#powerModal" style="float: right;" href="#"><i class="fa-solid fa-power-off fa-2x {% if data['power'] %}text-danger{% else %}text-success{% endif %} pr-2"></i></a>
      <a style="float: right;" href="/admin/notifications/">
        <i class="fa-regular fa-bell fa-2x pr-3 {% if data['hasNotifications'] == 'true' %}notification-bell text-warning{% endif %}" id="bell"></i>
      </a>    
    </div>
  </nav>

  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="index.html" class="brand-link">
      <img src="/static/img/logo-small.png" alt="beholderlogo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">Beholder</span>
    </a>

    <div class="sidebar">
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item has-treeview menu-open">
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/admin/dashboard" class="nav-link">
                      <i class="nav-icon fas fa-chart-line"></i>
                      <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/calls" class="nav-link">
                      <i class="nav-icon fas fa-file-alt"></i>
                      <p>Call Logs</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/notifications" class="nav-link">
                      <i class="nav-icon fas fa-bell"></i>
                      <p>Notifications</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/health" class="nav-link">
                      <i class="nav-icon fas fa-medkit"></i>
                      <p>Bot Health</p>
                    </a>
                </li>
                <li class="nav-item">
                  <a href="/admin/plugins" class="nav-link">
                    <i class="nav-icon fas fa-puzzle-piece"></i>
                    <p>Plugins</p>
                  </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/settings" class="nav-link">
                      <i class="nav-icon fas fa-cogs"></i>
                      <p>Settings</p>
                    </a>
                </li>
                <hr class="bg-secondary m-0" />
                <li class="nav-item">
                  <a href="/admin/logout" class="nav-link text-warning">
                    <i class="nav-icon fas fa-sign-out text-warning"></i>
                    <p>Logout</p>
                  </a>
                </li>
            </ul>
      </nav>
    </div>
  </aside>

  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{ data['title'] }}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
              <li class="breadcrumb-item active">{{ data['title'] }}</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <section class="content">{% block content %}{% endblock %}</section>
  </div>

  <aside class="control-sidebar control-sidebar-dark"></aside>
</div>

{% if data["power"] %}
<div class="modal fade" id="powerModal" tabindex="-1" role="dialog" aria-labelledby="shutdownModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title" id="shutdownModalLabel">
          <i class="fas fa-exclamation-triangle mr-2"></i> Shutdown Confirmation
        </h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to shut down the Robot?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          <i class="fas fa-times-circle mr-1"></i> Cancel
        </button>
        <button onclick="togglePower(0)" type="button" class="btn btn-danger">
          <i class="fas fa-power-off mr-1"></i> Shutdown
        </button>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="modal fade" id="powerModal" tabindex="-1" role="dialog" aria-labelledby="powerOnModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-success text-white">
        <h5 class="modal-title" id="powerOnModalLabel">
          <i class="fas fa-power-off mr-2"></i> Power On Confirmation
        </h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to power on the Robot?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          <i class="fas fa-times-circle mr-1"></i> Cancel
        </button>
        <button onclick="togglePower(1)" type="button" class="btn btn-success">
          <i class="fas fa-power-off mr-1"></i> Power On
        </button>
      </div>
    </div>
  </div>
</div>
{% endif %}

<script src="/static/js/jquery.js"></script>
<script src="/static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>

<script src="https://kit.fontawesome.com/578fff4073.js" crossorigin="anonymous"></script>
<script src="/static/js/gauges.min.js"></script>
<script src="/static/js/adminlte.min.js"></script>
<script src="/static/js/toast.js"></script>

<script>
  const toasts = new Toasts({
    	offsetX: 20,
    	offsetY: 20,
    	gap: 20,
    	width: 300,
    	timing: 'ease',
    	duration: '.5s',
    	dimOld: true,
    	position: 'top-right'
	});

  $(document).ready(function()
  {
      var url = window.location.pathname;
      $('.nav-link').each(function()
      {
          var href = $(this).attr('href');
          if(url.endsWith(href))
          {
              $(this).addClass('active');
          }
      });
  });

	function Toast(title, msg, type='success') {
		toasts.push({
    		title: title,
    		content: msg,
    		style: type,
			  closeButton: false,
			  dismissAfter: '3s'
		});
	}

  function togglePower(status) 
  {
        $.ajax({
            url: '/admin/power/' + status + '?json=true',
            type: 'GET',
            xhrFields: {
                withCredentials: true
            },
            success: function(response) {
                if (response.status === true) {
                    $('#powerModal').modal('hide');
                    Toast('System!', 'Power command Successfull!');
                    setTimeout(()=>{
                      window.location.reload();
                    }, 2000);
                }
            },
            error: function(xhr, status, error) {
                Toast('Ooops!', 'Power command failed!', 'error');
            }
        });
    }
</script>

</body>
</html>